.App {
  text-align: center;
}

.postContainer {
    border-width: 2px;
    border: black;
    border-style: solid;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
